fieldset {
  border: 1px solid var(--roxo-destaque);
  border-radius: 16px;
  padding: 0 1rem 1.75rem;
}

legend {
  font-size: 20px;
}

label,
input {
  display: block;
  width: 100%;
  margin: 0.25rem 0;

  font-size: 16px;
  font-family: var(--poppins);
}

input {
  border: 1px solid var(--roxo-destaque);
  border-radius: 16px;
  padding: 0.125rem 0.475rem;
}

button {
  width: 100%;
  margin-top: 1.75rem;
  padding: 0.75rem 0;
  border: none;
  border-radius: 36px;

  background-color: var(--roxo-destaque);
  color: var(--offwhite);
  font-family: var(--poppins);
  font-size: 18px;

  transition: background-color 600ms;
  transition-timing-function: ease-out;
}

button:hover {
  cursor: pointer;
  background-color: var(--roxo-hover);
}
